<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Turn Back Hoax</title>

    <link rel="manifest" href="manifest2.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/nifty.modal.css" rel="stylesheet">
    <link href="lib/leaflet/leaflet.css" rel="stylesheet">
    <link href="lib/leaflet/MarkerCluster.css" rel="stylesheet">
    <link href="lib/leaflet/MarkerCluster.Default.css" rel="stylesheet">
    <link href="css/slidingTabs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/vendor/angular-route.min.js"></script>
    <script src="lib/vendor/angular.easypiechart.min.js"></script>
    <script src="lib/vendor/Autolinker.min.js"></script>

    <!-- your app's js -->
    <script src="js/slidingTabsDirective.js"></script>
    <script src="js/app.js"></script>
    <script src="js/root.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="RootController" class="platform-ios platform-cordova platform-webview">
      <!--
       The nav bar that will be updated as we navigate between views.
       -->
      <ion-nav-bar class="bar-positive root" align-title="center">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left" ng-hide="app.hidehomeicon">
                <button ng-hide="app.hidehomeicon" class="button button-clear icon-left ion-home open-menu" ng-click="closeMenu($event,'/home');">&nbsp;Teras</button>
                <button ng-hide="app.hidebackicon" class="button button-clear icon-left ion-ios-arrow-back open-menu" ng-click="goBack()">&nbsp;Domain</button>
	        </ion-nav-buttons>
          <ion-nav-title>{{app.title}} <span style="color:white;">HOAX</span></ion-nav-title>
          <ion-nav-buttons side="right">
                <button class="button button-clear icon-left ion-navicon open-menu" ng-click="openMenu($event)">&nbsp;Menu</button>
	        </ion-nav-buttons>
      </ion-nav-bar>
      <!--
       The views will be rendered in the <ion-nav-view> directive below
       Templates are in the /templates folder (but you could also
       have templates inline in this html file if you'd like).
       -->
      <ion-nav-view class="has-header"><div class="ngView" id="main-ngView"></div></ion-nav-view>
  </body>
</html>
