<div class="row" style="padding:0px;margin:0px;border-radius:0;">
  <div class="col col-50 text-center" style="padding: 0px;margin:20px 0px;border-radius:0;border-right: 1px solid gainsboro;"><button class="button button-block button-clear subdued item-text-wrap" ng-click="vote.openModal(tab,'nohoaxcount','stream')" class="subdued">{{(tab.nohoaxcount || 0)}} vote<br>Bukan Hoax</button></div>
  <div class="col col-50 text-center" style="padding: 0px;margin:20px 0px;border-radius:0;"><button class="button button-block button-clear subdued item-text-wrap" ng-click="vote.openModal(tab,'hoaxcount','stream')">{{(tab.hoaxcount||0)}} vote<br>Hoax</button></div>
</div>
